@import url('https://fonts.googleapis.com/css2?family=Kanit:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
:root {
    --bgDefault: rgb(91, 112, 228);
}
header {
    font-family: "Kanit", sans-serif;
    font-weight: 600;
    height: 50px;
    background-color: var(--bgDefault);
    color: white;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-inline: 40px;
}
.title-header {
    display: block;
}
.title-header {
    padding: 10px;
    background-color: var(--bgDefault);
    border-radius: 30%;
}
.slide-menu-pc {
    display: block;
}
.slide-menu-mobile {
    display: none;
}
.wrapper-navbar {
    background-color: rgb(247, 247, 247);
    margin: auto;
    font-family: "Kanit", sans-serif;
    font-weight: 300;
}
nav ul {
    margin: 0;
    background-color: rgb(247, 247, 247);
    padding: 10px;
    padding-inline-start: 30px;
}
nav ul li {
    display: inline;
    padding: 10px;
}
.menu-mobile {
    display: none;
}

@media screen and (max-width: 992px) {
   .wrapper-navbar {
        display: none;
   }
   .wrapper-header {
        text-align: center;
        padding-top: 5px;
   }
   .slide-menu-mobile {
        display: block;
        padding: 5px;
        border: 1px solid var(--bgDefault);
        border-radius: 3px;
        background-color: blue;
        color: white;
   }
   .slide-menu-pc {
        display: none;
    }
    header {
        padding-inline: 10px;
    }
    .menu-mobile {
        display: block;
        background-color: blue;
        height: 100px;
    }
    .menu-mobile > ul {
        display: block;
        float: left;
    }
    .menu-mobile > ul > li {
        padding: 10px;
    }
    .menu-mobile > ul > li > a {
        text-decoration: none;
        color: white;
    }
    
}