
@media screen and (max-width: 992px) {
    .wrapper-navbar {
         display: none;
    }
    .wrapper-header {
         text-align: center;
         padding-top: 5px;
    }
    .slide-menu-mobile {
         display: block;
         padding: 5px;
         border: 1px solid var(--bgDefault);
         border-radius: 3px;
         background-color: blue;
         color: white;
    }
    .slide-menu-pc {
         display: none;
     }
     header {
         padding-inline: 10px;
     }
     .menu-mobile {
         display: none;
         align-items: center;
         height: 50px;
         background-color: var(--bgNavbar);
         height: inherit;
         position: fixed;
         margin-block-start: 70px;
         width: 100%;
     }
     .menu-mobile > ul {
         width: 100%;
         padding-inline: 10px; 
         list-style: none;
         background-color: var(--bgNavbar);
     }
     .menu-mobile > ul > li {
         display: block;
         padding: 5px;
     }
     .menu-mobile > ul > li > a {
         text-decoration: none;
         color: white;
     }
     .profile-icon {
 
     }
     .profile-mobile {
         display: block;
     }
     .wrapper-gallery {
         grid-template-columns: 1fr !important;
     }
     .wrapper-profile{
        width: 100% !important;
        padding: 8px;
     }
     .wrapper-profile .img-profile {
        width: 100%  !important;
        padding: 10px;
     }
     .wrapper-news {
        width: 100%;
        min-height: 100vh;
    }
 }