.wrapper-slide {
    margin-top: 140px;
    background-color: white;
    padding: 10px;
}

.clearfix {
    overflow: auto;
}

.flex {
    display: flex;
    /* display: none; */
    justify-content: center;
    align-items: center;
}

.fadeIn {
    transition: 1s;
}

.fade {
    display: none;
}

.slick-arrow {
    position: absolute;
    top: 0;
    bottom: 0;
    height: 50px;
    transform: rotate(-50%, -50%);
    background-color: rgb(24, 34, 182);
    color: #ffffff;
    outline: none;
    border: 0;
}

.slick-next {
    right: 10px;
}

.slick-prev {
    left: 10px;
}

.tabbar-title {
    height: 7dvh;
    background-color: var(--bgTabbar);
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: var(--colorTabbar);
    padding-block: 10px;
    padding-inline: 40px;
    box-shadow: var(--box-shadox);
}

.wrapper-gallery {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    grid-gap: 10px;
    padding-inline: 40px;
    padding-block: 20px;
}

.gallery {
    width: calc(100% / 1);
    height: 200px;
    background-color: var(--bgDefault);
}

.img-gallery {
    width: 98%;
    height: 150px;
    margin: auto;
    margin-block: 10px;
    background-color: whitesmoke;
}

.text-gallery {
    padding: 3px;
    height: 100px;
    overflow: hidden;
}

.wrapper-container {
    width: 100%;
    height: 100%;
}

.wrapper-container>.wrapper-profile {
    width: 600px;
    height: inherit;
    display: flex;
    flex-direction: column;
    margin: auto;
    padding-block-start: 150px;
}

.wrapper-container>.wrapper-profile>.img-profile {
    width: 300px !important;
    height: 300px !important;
    background-color: silver;
    margin: 20px auto;
    border-radius: 50%;
    background-image: url('../../public/images/profile/218366410_4138255459604062_5023524155501290718_n.jpg');
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}

.text-header {
    margin-top: 20px;
}

table>.table-profile {
    width: 100%;
    border: 0;
}
.padding-0 {
    padding: 0 !important;
}

table.table-profile>tr>th {
    width: 150px !important;
}

.wrapper-gallery section:hover {
    box-shadow: 1px 1px 10px 1px silver;
    transition: 1s;
    transform: scale(1.01, 1.01);
    cursor: pointer;
}

.ico-action {
    animation-name: ico;
    animation-duration: 1s;
    animation-iteration-count: infinite;
}

@keyframes ico {
    0% {
        transform: scale(1, 1);
        border: 0 solid yellow;
    }

    100% {
        transform: scale(1.01, 1.01);
        border: 1px solid yellow
    }
}
.wrapper-news {
    width: 100%;
    min-height: 50vh;
}
.wrapper-news > section {
    margin-block: 20px;
    padding-inline: 40px;
    height: 400px;
}
.intro-khanalukling {
    text-align: center;
    padding-inline: 40px;
    padding-block: 40px;
}
.grid-2 {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: 10px;
    text-align: right;
    padding: 5px;
}
footer {
    text-align: center;
    background-color: white;
}
.footer-gallery {padding: 3px;}
.g-view-number {

}
.g-comment-number {

}
.wrapper-review {
    padding-inline: 40px;
    padding-block-start: 140px;
}
article.grid-review {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
    grid-gap: 20px;
}
section.review {
    width: 100%;
    height: 300px;
    background-color: rgb(182, 182, 182);
}
.intro-review {
    margin-block: 30px;
}
.review-content-page {
    margin: 20px auto;
}
a {
    text-decoration: none;
}